<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/app/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form id="signupForm">
            <input type="text" id="newUsername" placeholder="Username" required>
            <input type="password" id="newPassword" placeholder="Password" required>
            <button type="submit">Signup</button>
        </form>
        <div id="signupMessage"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
